
.section-resume {
    @include shadows2;
    max-width: 70%;
    margin: 15rem auto 2rem;
    border: .5px solid rgb(233, 233, 233);

    div.container {
        width: 95%;
    }
    div.row {
        margin-bottom: 0;

    }
    hr {
        width: 100%;
        color: black;
        margin-bottom: 0;
    }
}

h1.resume__header--name {
    color: $color-black;
    margin-bottom: 1rem;
    text-align: center;
}

.section-resume .resume__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1px;

    &--intro {
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 1;
        margin: 30px 25px;

    }

}

div.resume--skill {
    display: flex;
    justify-content: space-between;

    div.skill {
        color: $pk-dark-blue;
    }
}




.section-employees button.btn.btnResume {
    visibility: visible;
    padding: 3px;
    background-color: $pk-orange;
    float: right;
    font-size: 8px;
    border-radius: 3px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: white;
    @include shadows;

    &:hover {
        transform: translateY(-3px);
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
        outline: none;
    }


.section-employees .feature-employees:hover {
    transform: translateX(-1px);
}

.section-employees .dots {
    margin: auto;
    padding: 0;
    list-style: none;
    width: 50px;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: white;
    visibility: hidden;
}
.section-employees .dots li {
    background-color: #CCC;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
.section-employees .dots li:last-child,
.section-employees .dots li:first-child {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #E1E1E1;
}
.section-employees .dots.bottom li:last-child,
.section-employees .dots.bottom li:first-child {
    margin-bottom: 3px;
}