<section class="section-employees">
        <div class="center-text margin-bottom-medium">
                <h1 class="heading-secondary">Meet our employees</h1>
            </div>
        <div class="row">
            <div class="business-card col-sm-3">
                <div class="feature-employees">
                    <img src="img/prokarma_icon_black.svg" alt="" width="30px" height="30px" class="bcard--logo">
                    <p class="card--name">{{ resume.name }}</p>
                    <p class="card--title">{{ resume.title }}</p>
            
                    <div class="card--contact">
                        <p class="card--phone"><i class="card--phone__icon fas fa-phone"></i></i> {{ resume.workPhone }}</p>
                        <p class="card--phone"><i class="card--phone__icon fas fa-mobile-alt"></i></i> {{ resume.cellPhone }}</p>
                        <p class="card--email"><i class="card--email far fa-envelope"></i> {{ resume.workEmail }}</p>
                        <p class="card--email"><i class="card--web fas fa-globe"></i> {{ resume.workSite }}</p>                   
                    </div>
                    <div>
                        <button ng-click="viewResum = !viewResume" class="btn btnResume" href="#/resume" ng-model="viewResume">View Resume</button>
                        <ul class="dots"><li></li><li></li><li></li></ul>
                    </div>
                </div>
            </div>
            <div ng-show="!viewResume" class="resume col-sm-6">
                <div class="">
                    <!-- <img src="img/prokarma_icon_black.svg" alt="" width="30px" height="30px" class="bcard--logo"> -->
                    <p class="resume__header--name">{{ resume.name }}</p>
                 
                </div>
                <div class="row resume__header">
                    <div class="resume__header--address">
                        {{ resume.address }} {{ resume.city}} {{resume.state}} {{ resume.zip }}
                    </div>
                    <div class="resume__header--cell">
                        {{ resume.cellPhone || resume.workPhone }}
                    </div>
                    <div class="resume__header--email">
                        {{ resume.workEmail }}
                    </div>
                </div>
                <div>
                    <h6>About Me:</h6>

                    <p class="resume__header--intro">{{ resume.intro }}</p>
                </div>
                <div class="resume--skills">
                    <h6>Skills:</h6>
                </div>
                <div class="skills">
                    <div class="resume--skill">
                        <div class="skill" ng-repeat="skill in resume.skills"> <i class="fas fa-check-circle"> </i>&nbsp;{{ skill }}&nbsp;</div>
                    </div>
                </div>
                    

                <div class="resume--exp">
                    <h6>Experience:</h6>
                    <div class="resume--exp">
                        <div class="exp" ng-repeat="exp in resume.exps">{{ exps.name }}  {{ exps.dates }}</div>
                        
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- <section class="resume" ng-controller="employeeController as employee">
        <div ng-include="/templates/resume.html"></div>
</section> -->