<section class="section-employees">
        <div class="u-center-text u-margin-bottom-medium">
                <h1 class="heading-secondary">Meet our employees</h1>
            </div>
        <div class="row">
            <div class="">
                <div class="feature-employees">
                    <img src="img/prokarma_icon_black.svg" alt="" width="30px" height="30px" class="bcard--logo">
                    <p class="card--name">Kathleen Ohde</p>
                    <p class="card--title">Software Engineer I</p>
                    <div class="card--contact">
                        <p class="card--phone"><i class="card--phone__icon fas fa-phone"></i></i> 402.123.4567</p>
                        <p class="card--phone"><i class="card--phone__icon fas fa-mobile-alt"></i></i> 402.880.7212</p>
                        <p class="card--email"><i class="card--email far fa-envelope"></i> kohde@prokarma.com</p>
                        <p class="card--email"><i class="card--web fas fa-globe"></i> www.prokarma.com</p>                   
                    </div>
                    <div>
                        <button class="btn btnResume" href="#/resume">View Resume</button>
                        <ul class="dots"><li></li><li></li><li></li></ul>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- <section class="resume" ng-controller="employeeController as employee">
        <div ng-include="/templates/resume.html"></div>
</section> -->