<section class="section-grid">
    <div class="grid-container">
        <div class="grid-item grid-item1">1</div>
        <div class="grid-item grid-item2">2</div>
        <div class="grid-item grid-item3">3</div>
        <div class="grid-item grid-item4">4</div>
        <div class="grid-item grid-item5">5</div>
        <div class="grid-item grid-item6">6</div>
        <div class="grid-item grid-item7">7</div>
        <div class="grid-item grid-item8">8</div>
        <div class="grid-item grid-item9">9</div>
        <div class="grid-item grid-item10">10</div>
        <div class="grid-item grid-item11">11</div>
        <div class="grid-item grid-item12">12</div>
        <div class="grid-item grid-item13">13</div>
        <div class="grid-item grid-item14">14</div>
        <div class="grid-item grid-item15">15</div>
        <div class="grid-item grid-item16">16</div>
        <div class="grid-item grid-item17">17</div>
        <div class="grid-item grid-item18">18</div>
        <div class="grid-item grid-item19">19</div>
        <div class="grid-item grid-item20">20</div>
        <div class="grid-item grid-item21">21</div>
        <div class="grid-item grid-item22">22</div>
        <div class="grid-item grid-item23">23</div>
        <div class="grid-item grid-item24">24</div>
        <div class="grid-item grid-item25">25</div>
        <div class="grid-item grid-item26">26</div>
        <div class="grid-item grid-item27">27</div>
        <div class="grid-item grid-item28">28</div>
        <div class="grid-item grid-item29">29</div>
        <div class="grid-item grid-item30">30</div>
    </div>
</section>



