<section class="section-where">
    <div class="u-center-text u-margin-bottom-medium">
        <h2 class="heading-secondary">
            Office Locations
        </h2>
    </div>
    <div class="location-card">
        <div class="loc">
            <h1 class="state">Colorado</h1>
            <h2 class="city">Denver</h2>
            <span class="temp">55deg</span>
        </div>
        <div class="loc">
            <h1 class="state">Georgia</h1>
            <h2 class="city">Atlanta</h2>
            <span class="temp">74deg</span>
        </div>
        <div class="loc">
            <h1 class="state">Nebraska</h1>
            <h2 class="city">Omaha</h2>
            <span class="temp">40deg</span>
        </div>
        <div class="loc">
            <h1 class="state">India</h1>
            <h2 class="city"></h2>
            <span class="temp">80deg</span>
        </div>
    </div>
</section>
<script href="/js/where.js"></script>